/* animation css인데 이부분은 TCPschool.com에서
   animation부분을 발췌해 와서 작성한 부분이다.
   Opacity를 0~ 1로 어떻게 바뀌는지 정하는 것이다. */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeIn{
  animation:fadeIn;
  animation-duration: 0.5s;
}

.fadeOut{
  animation: fadeOut;
  animation-duration: 0.5s;
}
